# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\5 курс\Реінжиніринг та верифікація програмного забезпечення\SoftReMod2-master\Mod2_RG\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
